.project-tile {
  background-color: @primaryColor;
  margin-top: @gridGutterWidth;
  position: relative;
  &:after {
    content: '';
    display: block;
    padding-top: 66.66%;
  }
  .content {
    object {
      height: 90%;
      margin: 3% 0px 0px 5%;
      width: 90%;
    }
    .full-size-absolute()
  }
}