#header-nav {
  bottom: @regVerticalSpace;
  position: absolute;
  right: 0px;
  /* float: right; */
  a {
    .circle();
    background-color: @primaryColor;
    color: @secondaryColor;
    display: block;
    float: left;
    font-size: 26px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    width: 30px;
    &:hover {
      color: @thirdColor;
      text-decoration: none;
    }
    &.previous {
      margin-right: 10px;
      padding-right: 2px;
      width: 28px;
    }
    &.next {
      padding-left: 2px;
      width: 28px;
    }
  }
}
#project-info {
  text-transform: uppercase;
  .info {
    margin-bottom: 1px;
  }
  .techs {
    border-top: solid 2px @primaryColor;
    margin-top: 10px;
    .tech {
      font-size: 12px;
      margin-top: 10px;
      li {
        font-size: 11px;
        line-height: 16px;
        margin-left: 0px;
      }
    }
  }
}
.slideshow {
  margin-top: 10px;
  position: relative;
  &:after {
    content: '';
    display: block;
    padding-top: 57.948718%;
  }
  .content {
    background-color: rgba(255,255,255, .5);
    .slide-list-nav {
      left: 0px;
      position: absolute;
      top: -15px;
      li {
        .circle();
        background-color: @primaryColor;
        cursor: pointer;
        float: left;
        height: 10px;
        margin: 0px 5px 0px 0px;
        opacity: .3;
        width: 10px;
        &.selected {
          opacity: 1;
        }
      }
    }
    .slides {
      cursor: pointer;
      li {
        display: none;
        &.selected {
          display: block;
        }
        img {
          position: absolute;
        }
      }
    }
    object {
      height: 90%;
      margin: 3% 0px 0px 5%;
      width: 90%;
    }
    .full-size-absolute();
  }
}