//
// Responsive: Large desktop and up
// --------------------------------------------------
@media (min-width: 1200px) {
  .project-tile {
    margin-top: @gridGutterWidth1200;
  }
}

//
// Responsive: Tablet to desktop
// --------------------------------------------------
@media (min-width: 768px) and (max-width: 979px) {
  h1 {
    font-size: 30px;
    line-height: 32px;
  }
  .subH1 {
    font-size: 18px;
  }
}

//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------
@media (max-width: 767px) {
  /*
.techs {
    .row {
      margin-left: -20px;
    }
    .span2 {
      float: left;
      margin-left: 20px;
      width: 140px;
    }
  }
*/
}

// UP TO LANDSCAPE PHONE
// ---------------------
@media (max-width: 480px) {
  footer#footer ul li a {
    font-size: 12px;
  }
}




